<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutomationISE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutomationISE.Properties.Settings>
            <setting name="ADUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="localWorkspace" serializeAs="String">
                <value />
            </setting>
            <setting name="certFriendlyName" serializeAs="String">
                <value>Azure Automation ISE Add On</value>
            </setting>
            <setting name="certName" serializeAs="String">
                <value>AzureAutomationISEAddOn</value>
            </setting>
            <setting name="lastSubscription" serializeAs="String">
                <value />
            </setting>
            <setting name="jobRefreshTimeInMilliseconds" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="RunAs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageSubID" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageResourceGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageAccount" serializeAs="String">
                <value>na</value>
            </setting>
            <setting name="StorageAuthority" serializeAs="String">
                <value />
            </setting>
            <setting name="Editor" serializeAs="String">
                <value />
            </setting>
            <setting name="loginAuthority" serializeAs="String">
                <value>https://login.microsoftonline.com/</value>
            </setting>
            <setting name="appIdURI" serializeAs="String">
                <value>https://management.azure.com/</value>
            </setting>
            <setting name="lastAutomationAccount" serializeAs="String">
                <value />
            </setting>
        </AutomationISE.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20.0" newVersion="4.0.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
